body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: .75px;
    background-color: #444;
    color: #e1e1e1;
}

.well {
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.jumbotron p {
    font-size: 12px !important;
}

p {
    font-weight: normal !important;
    letter-spacing: 1px;
    opacity: 0.75;
}

a {
    color: #E37B40;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.50;
}

.counter-placement {
    margin: 0;
    position: absolute;
    padding-top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.50;
    z-index: -22222
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    color: #fff;
}

h4 {
    font-size: 18px;
    color: #F0CA4D;
    line-height: .5px;
}

h5 {
    font-size: 10px;
    color: #e1e1e1;
    letter-spacing: 2px;
}


.left {
    font-size: 10px;
    margin: 0;
    position: absolute;
    left: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.50;
}

.btn-outline {
    color: #fff;
    background-color: transparent;
    outline: none !important;
}

.btn-outline:hover,
.btn-outline:focus {
    color: #222;
    border: 2px solid #222;
}

.btn-outline:active {
    border: 2px solid #F0CA4D;
    color: #F0CA4D;
}

.btn-outline:disabled {
    visibility: hidden;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #fff;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    color: #324D5C;
    background: rgba(255, 255, 255, 0.50);
    background-image: none;
    border: 0 solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    letter-spacing: 1px;
}

label {
    font-weight: 400;
    letter-spacing: 1px;
}

.icon {
    color: #DE5B49;
}

.circle-success:before {
    content: ' \25CF';
    font-size: 14px;
    color: #6AE3CC;
    content: 'PAIRED SUCCESSFULLY'
}

.circle-fail:before {
    content: ' \25CF';
    font-size: 14px;
    color: #e1e1e1;
    content: 'NOT PAIRED'
}


/*form {
    background-color: #555;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}*/

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    color: orange;
}

#messages li:nth-child(odd) {
    color: #fff;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
}

.cursive {
    font-family: 'Amatic SC', cursive;
}