extends layout

block content

    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
                
          li
            a#end-auction(href='#') END AUCTION

    #page-content-wrapper
      .container-fluid
        .row#bid-history.sidebar1Wrapper(style='display:none')
          | Last 5 Bids
          ol
        .row
          .top-sticky.text-center
            h2#text-helper.cursive #{textJumbotronHeader}
        .row#bid-row
            .col-md-4.col-md-offset-4
              form#bid-form
                .col-md-12.text-center
                  img(src='images/chili.png', alt='cincinnati chili', height='90')
                  h1#bid-price.numbers #{labelBidPrice}
                  h4 #{labelCurrentBid}
                  br
                .form-group
                  input#bid-text.form-control(type='tel')
                .row
                  .col-md-12.text-center
                    button#btn-bid.btn.btn-outline #{btnLabelBid}    
              .row
                .col-md-4.col-md-offset-4.col-xs-4.col-xs-offset-4 
                  form#passcode-form(style="display: none")
                    br
                    .form-group
                      input.form-control-small(type='tel', id='txtPasscode')
                      button#btn.btn.btn-small(name='btnPair') Pair
        .row#done-row(style='display: none')
          .col-md-4.col-md-offset-4.text-center
            #lost-div
              h4 You lost. Refresh browser to play again.
            #won-div(style='display: none')
              h3.numbers Congrats!
              br
              h4#won-detail 
              #progress-bar.progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width:100%')
              br
              button#receipt-btn.btn.btn-outline.disabled(href="#myModal", data-toggle="modal") View Receipt
             
        sticky#sticky(style='display: none')
          p.text-center#client-id(style='font-size: 10px')
      
        footer
          p.left
            a#is-paired.pair-no(href="#", onclick="$('#passcode-form').show()")
          p.center.cursive
            | made with 
            i.fa.fa-heart.icon(aria-hidden='true')
            |  by ip engineering
          p.right
            a#menu-toggle.btn-menu(href='#menu-toggle') MENU

            #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
              .modal-dialog.modal-sm
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h3.modal-title
                      img(src='../images/triPOSLogo.png', alt='', height="24px")
                  .modal-body
                    .row.text-center
                      p#receipt-statuscode(style="color:red; text-transform:uppercase") statusCode
                      br
                      strong Billed To:
                      p Auction Winner
                      p 555 This Way Street
                      p Anytown, USA
                      hr
                      strong Date
                      p#receipt-date May 3, 2017
                      hr
                      strong Merchant ID
                      p#receipt-merchantid merchantId
                      hr
                      strong Total
                      h2#receipt-amount(style="color:#555; font-size: 42px;") $subTotalAmount
                      hr
                      strong#receipt-cardbrand cardLogo 
                      p#receipt-cardnum accountNumber
                      hr
                      strong Auth Code
                      p#receipt-authcode approvalNumber
                      hr
                      strong Transaction ID
                      p#receipt-txnid transactionId
                  .modal-footer
                    button.btn.btn-modal(type="button", data-dismiss="modal") OK