extends layout

block content

    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
                
          li
            a#end-auction(href='#') END AUCTION

    #page-content-wrapper
      .container-fluid
        .row
          .top-sticky.text-center
            h2#text-helper.cursive #{textJumbotronHeader}
        .row#bid-row
            .col-md-4.col-md-offset-4
              form#bid-form
                .col-md-12.text-center
                  h1#bid-price #{labelBidPrice}
                  h4 #{labelCurrentBid}
                  br
                .form-group
                  input#bid-text.form-control(type='tel')
                .row
                  .col-md-12.text-center
                    button#btn-bid.btn.btn-outline #{btnLabelBid}        
              .row
                .col-md-4.col-md-offset-4.col-xs-4.col-xs-offset-4 
                  form#passcode-form(style="display: none")
                    br
                    .form-group
                      input.form-control-small(type='tel', id='txtPasscode')
                      button#btn.btn.btn-small(name='btnPair') Pair
        .row#done-row(style='display: none')
          .col-md-4.col-md-offset-4.text-center
            #lost-div
              h4 You lost. Refresh browser to play again.
            #won-div(style='display: none')
              h3(style="color:#F0CA4D; font-size: 48px") Congrats!
              br
              h5(style='font-size:14px; color:#222')#won-detail 
              br
              button#receipt-btn.btn.btn-outline.disabled View Receipt
            
        sticky#sticky(style='display: none')
          p.text-center#client-id(style='font-size: 10px')
      
        footer
          p.left
            a#is-paired.pair-no(href="#", onclick="$('#passcode-form').show()")
          p.center.cursive
            | made with 
            i.fa.fa-heart.icon(aria-hidden='true')
            |  by ip engineering
          p.right
            a#menu-toggle.btn-menu(href='#menu-toggle') HIDDEN MENU